<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        “I think perfection is ugly. Somewhere in the things humans make, I want to see scars, failure, disorder, distortion.”
      </h1>
      <h2 class="subtitle">
        ― Yohji Yamamoto
      </h2>
    </div>
  </div>
</section>
