<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Inhji.de | Technos & Psyche</title>
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body class="has-navbar-fixed-top <%= body_class(@conn.request_path) %>">
    <header class="header">
      <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="<%= page_path(@conn, :index) %>">
              <img src="<%= static_path(@conn, "/images/favicon.png") %>" alt="Bulma: a modern CSS framework based on Flexbox" width="28" height="28">
            </a>

            <a role="button" data-target="main-nav" class="navbar-burger" aria-label="menu" aria-expanded="false">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <div class="navbar-menu" id="main-nav">
            <div class="navbar-start">
              <%= link "Articles", to: article_path(@conn, :index), class: "navbar-item" %>
              <%= link "About", to: page_path(@conn, :about), class: "navbar-item" %>
            </div>

            <div class="navbar-end">
              <%= if signed_in?(@conn) do %>
              <%= link "Sign out", to: session_path(@conn, :delete), method: :delete, class: "navbar-item"  %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <p class="notification is-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="notification is-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    </div>

    <div class="container">
      <main role="main" id="content">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Inhji.de</strong> by <a href="/">Jonathan Jenne</a></a>.
        </p>
        <p>
          <em>Doing weird shit since 1990.</em>
        </p>
      </div>
    </footer>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
